@import "tailwindcss";
@import "@fontsource/barlow-semi-condensed/600.css";
@import "@fontsource/barlow-semi-condensed/700.css";

body {
	font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    background: linear-gradient(to bottom, hsl(214, 64%, 17%), hsl(237, 48%, 15%) 50%);
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }