@import "tailwindcss";
@import "@fontsource/barlow-semi-condensed/600.css";
@import "@fontsource/barlow-semi-condensed/700.css";

@theme {
    --color-white: hsl(0 0% 100%);
    --color-shadow: hsl(0 0% 0% / 10%);
    --color-winner-ring: hsl(0 0% 100% / 5%);
    --color-winner-ring-subtle: hsl(0 0% 100% / 3%);
    --color-gold-500: hsl(39 89% 49%);
    --color-gold-600: hsl(28 76% 44%);
    --color-blue-500: hsl(230 89% 62%);
    --color-blue-700: hsl(229 64% 46%);
    --color-red-600: hsl(349 71% 52%);
    --color-red-800: hsl(347 75% 35%);
    --color-purple-600: hsl(261 73% 60%);
    --color-purple-700: hsl(261 51% 44%);
    --color-light-blue-400: hsl(189 59% 53%);
    --color-light-blue-500: hsl(194 58% 42%);
    --color-navy-900: hsl(229 25% 31%);
    --color-gray-600: hsl(246 11% 37%);
    --color-background-start: hsl(214 47% 23%);
    --color-background-end: hsl(237 48% 15%);
    --background-image-radial-gradient: radial-gradient(
        circle,
        var(--color-background-start),
        var(--color-background-end)
    );
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1rem;
    background-image: var(--background-image-radial-gradient);
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: var(--color-blue-700); }